{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Cobrar la entrega del {{ entrega.fechaEntrega|date('d/m/Y') }}{% endblock %}
{% block page_actions %}
    {{ include('admin/page_actions_edit_lista.html.twig',{controlador: 'EntregaCrudController',id: entrega.id, habilitar: false}) }}
{% endblock %}
{% block main %}
    <dl class="row">
        <dt class="col-4 col-md-3 col-lg-2">
            Identificador
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ entrega.id }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Cliente
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ entrega.persona }}
        </dd>
        <h4 class="mt-3 text-info">
            Detalle para el cobro
        </h4>
    </dl>
    <div class="row">
        <div class="col-xl-7">
            <div class="d-flex justify-content-between px-5 border-bottom border-light mt-2 d-block text-success">
                <div class="p-2">Descripción</div>
                <div class="p-2">Fecha</div>
                <div class="p-2">Importe</div>
            </div>
            {% set count = service.devolverImporteInt(entrega.monto) %}
            <div class="d-flex justify-content-between px-5 mt-2">
                <div class="p-2">Entrega</div>
                <div class="p-2">{{ entrega.fechaEntrega|date('d/m/Y') }}</div>
                <div class="p-2">{{ service.formatearMonto(entrega.monto) }}</div>
            </div>
            {% for transaccion in transacciones %}
                {% set count = count + service.devolverImporteInt(transaccion.monto) %}
                <div class="d-flex justify-content-between px-5 mt-2">
                    <div class="p-2">{{ transaccion.tipoStr }}</div>
                    <div class="p-2">{{ transaccion.dateCreatedAt|date('d/m/Y') }}</div>
                    <div class="p-2">{{ service.formatearMonto(transaccion.monto) }}</div>
                </div>
            {% endfor %}
            <div class="d-flex justify-content-end px-5 mt-2">
                <div class="p-2">Total:</div>
                <div class="p-2 border-top border-light">{{ service.formatearNumero(count, false) }}</div>
            </div>
        </div>
        <div class="col-xl-5">
            <div class="mb-3 row text-center">
                <h4>
                    Información del cobro
                </h4>
            </div>
            {{ include('admin/entrega/form/formCobrar.html.twig') }}
        </div>
    </div>
{% endblock %}
