{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Entregar los pedidos{% endblock %}
{% block page_actions %}
    {{ include('admin/page_actions_edit_lista.html.twig',{controlador: 'EntregaCrudController',id: entrega.id, habilitar: false}) }}
    <a class="btn btn-primary" href="{{ ea_url().setRoute('app_entrega_show', { id: entrega.id }) }}">
        <i class="fa fa-eye" aria-hidden="true"></i>
        Ver
    </a>
{% endblock %}
{% block main %}
    <dl class="row">
        <dt class="col-4 col-md-3 col-lg-2">
            Identificador
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ entrega.id }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Cliente
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ entrega.persona }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Observaciones
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ entrega.nota }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2 mt-2">
            Total
        </dt>
        <dd class="col-8 col-md-9 col-lg-10 mt-2">
            {{ service.formatearMonto(entrega.monto) }}
        </dd>
    </dl>
    {{ include('admin/entrega/form/formEntregar.html.twig') }}
{% endblock %}
