{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Entrega del
    {% if entrega.fechaEntrega is not null %}
        {{ entrega.fechaEntrega|date('d/m/Y') }}
    {% else %}
        No hay fecha ingresada
    {% endif %}
{% endblock %}
{% block page_actions %}
    {{ include('admin/page_actions_edit_lista.html.twig',{controlador: 'EntregaCrudController',id: entrega.id, habilitar: not entrega.seEntrego}) }}
    {{ include('admin/page_actions_entregar_pagar.html.twig',{idParam: entrega.id,habilitarEntregar:not entrega.seEntrego, habilitarCobrar: entrega.seEntrego and not entrega.sePago}) }}
{% endblock %}
{% block main %}
    <dl class="row">
        <dt class="col-4 col-md-3 col-lg-2">
            Identificador
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ entrega.id }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Cliente
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ entrega.persona }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Entregado
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ entrega.seEntrego ? 'Si' : 'No' }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Pagado
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ entrega.sePago ? 'Si' : 'No' }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Moneda Usada
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ entrega.monto.moneda.nombre }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Importe pagado
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ principalService.formatearNumero(entrega.monto.importe,false,entrega.monto.moneda.signo) }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Tipo de cambio usado
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ principalService.formatearNumero(entrega.monto.tipoCambio, false, '$') }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Observaciones
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ entrega.nota }}
        </dd>
        <dd class="col-8 col-md-9 col-lg-10">
            <h4 class="mt-3 text-info">
                Detalle de la entrega
            </h4>
        </dd>
    </dl>
    <table class="table table-borderless">
        <thead>
        <tr class="text-success border-bottom border-light">
            <th scope="col">Descripción</th>
            <th scope="col">Precio por unidad</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for detalle in entrega.detalleEntregas %}
            <tr class="text-light">
                <th scope="row" class="text-left ps-3">
                    {{ detalle.cantidad }} - {{ detalle.detallePedido.producto }}
                </th>
                <td>{{ principalService.formatearMontoDeLosDetalles(detalle.precio, entrega.monto) }}</td>
                <td>{{ principalService.formatearMontoDeLosDetalles(detalle.total, entrega.monto) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay detalles cargados</td>
            </tr>
        {% endfor %}
        {% set suma = 0 %}
        {% for transaccion in transacciones %}
            {% set suma = suma + principalService.devolverImporteInt(transaccion.monto) %}
            <tr class="text-light">
                <th scope="row" class="text-left ps-3">{{ transaccion.tipoStr }}</th>
                <td>{{ transaccion.dateCreatedAt|date('d/m/Y') }}</td>
                <td>{{ principalService.formatearMonto(transaccion.monto) }}</td>
            </tr>
        {% endfor %}
        {% if not entrega.detalleEntregas is empty or suma > 0 %}
            <tr class="text-info">
                <td colspan="2" class="text-right">Total:</td>
                <td class="border-top border-light">{{ principalService.formatearMontoDeLosDetalles(entrega.total + suma, entrega.monto) }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
