{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Aumentar precios de las listas
    {#    <p class="d-inline text-info">{{ listaDePrecios.nombre }}</p> #}
{% endblock %}
{% block page_actions %}
    {{ include('admin/page_actions_edit_lista.html.twig',{controlador: 'ListaDePreciosCrudController',id: null,habilitar: false}) }}
{% endblock %}
{% block main %}
    <form action="{{ path('app_aumentar_lista_de_precios_store') }}" method="post">
        <button type="button" class="btn btn-link" id="btnSeleccionarTodo">
            Seleccionar todo
        </button>
        <table class="table table-hover table-bordered table-sm caption-top w-50">
            <caption>Lista de precios activas</caption>
            <thead>
            <tr>
                <th scope="col" style="width: 1%;">#</th>
                <th scope="col" style="width: 60%;">Lista</th>
                <th scope="col" style="width: 39%;">Tipo</th>
            </tr>
            </thead>
            <tbody>
            {% for lista in listasDePrecios %}
                <tr class="text-light">
                    <th scope="row" class="d-flex justify-content-center align-items-center">
                        <input class="form-check-input mx-2 casillero" type="checkbox" id="chkLista-{{ lista.id }}"
                               name="chkLista-{{ lista.id }}">
                    </th>
                    <td class="text-left ps-3">{{ lista.nombre }}</td>
                    <td>{{ lista.getTipoStr }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">No hay listas cargadas</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="row g-3">
            <div class="col-3">
                <label for="txtPorcentaje" class="form-label">Ingresar porcentaje a subir</label>
                <input type="number" class="form-control text-dark" id="txtPorcentaje" name="txtPorcentaje"
                       aria-describedby="helpPorcentaje" required placeholder="Ingrese porcentaje...">
                <div id="helpPorcentaje" class="form-text">Debe ingresar un numero mayor a 1</div>
            </div>
            <div class="col-1 d-flex align-items-center">
                <button type="submit" class="btn btn-primary">Aumentar</button>
            </div>
        </div>
    </form>
{% endblock %}