{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
    Ver la lista de precios
    <p class="d-inline text-info">{{ listaDePrecios.nombre }}</p>
{% endblock %}
{% block page_actions %}
    {{ include('admin/page_actions_edit_lista.html.twig',{controlador: 'ListaDePreciosCrudController',id: listaDePrecios.id,habilitar: true}) }}
{% endblock %}
{% block main %}
    <div class="container mt-5">
        <h3>
            Lista de:
            <small class="text-body-secondary text-success">
                {{ listaDePrecios.tipoStr }}
            </small>
        </h3>
        <div class="row mt-3">
            <div class="col-lg-6">
                {% if listaDePrecios.tipo == 1 %}
                    {{ include('admin/lista_de_precios/tables/_table_Clasificaciones.html.twig') }}
                {% else %}
                    {{ include('admin/lista_de_precios/tables/_table_productos.html.twig') }}
                {% endif %}
            </div>
            <div class="col-lg-6">
                <h4 class="mt-2 text-center">Clientes añadidos a esta lista</h4>
                <table class="table text-center">
                    <thead>
                    <tr class="text-success">
                        <th scope="col">Persona</th>
                    </tr>
                    </thead>
                    <tbody class="text-light">
                    {% for listaPersona in listaDePrecios.listaPreciosPersonas %}
                        <tr>
                            <td>{{ listaPersona.persona }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">No hay personas ingresadas a la lista</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}