{% extends 'base.html.twig' %}

{% block title %}Olmedos Fabricacion Venta Reparacion de Parlantes de Alta Potencia{% endblock %}

{% block body %}
    <div class="cuadro" id="contenido">
        <div class="imagen"><img src="images/local-olmedos.png" width="400" height="400"
                                 alt="olmedos local pueyrredon"/></div>
        <div class="inicio-texto">Olmedos es una empresa Familiar que se dedica a la fabricación, venta y reparación
            de
            parlantes de Alta Potencia.<br/>
            <br/>
            Contamos con 40 años de experiencia LEEA.
            <br/>
            <br/>
            Nuestra Oficina y Taller estan Ubicados en el Barrio de Villa Pueyrredon / Capital Federal.<br/>
            <br/>
            Conocenos un poco más y veras la diferencia.
        </div>

        {#Fabricación, venta y reparación de parlantes de alta potencia con 40 años de experiencia.

        Olmedos es una empresa familiar con más de 40 años de experiencia en la fabricación, venta y reparación de parlantes de alta potencia.

        Nuestra oficina y taller están ubicados en el Barrio de Villa Pueyrredón, Capital Federal.

        Conócenos y descubre la diferencia.#}
        <div class="logos"><img src="images/olmedos-leea-40.jpg" width="920" height="100"
                                alt="leea olmedos 40 años"/>
        </div>
        <div class="titulo"> REPARACION DE TODAS LAS MARCAS</div>
        <p>&nbsp;</p>
        <div class="logos"><img src="images/das-logo.jpg" width="140" height="100" alt="das-logo"/><img
                    src="images/leea-logo.jpg" width="140" height="100" alt="leea logo"/><img
                    src="images/ev-logo.jpg"
                    width="140" height="100"
                    alt="ev-logo"/><img
                    src="images/jbl-logo.jpg" width="140" height="100" alt="jbl-logo"/><img
                    src="images/peavey-logo.jpg"
                    width="140" height="100"
                    alt="peavey-logo"/><img
                    src="images/rcf-logo.jpg" width="140" height="100"/></div>
    </div>
{% endblock %}
