{% extends 'base.html.twig' %}

{% block title %}Olmedos - Fabricación, venta y reparación de parlantes{% endblock %}

{% block body %}
    <div class="text-center mb-5">
        <h1 class="display-3 fw-bold text-primary">Bienvenidos a Olmedos</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="images/local-olmedos.png" class="img-fluid rounded" alt="Olmedos local Pueyrredon">
            </div>
            <div class="col-12 col-md-6 d-flex align-items-center">
                <div class="mt-4 mt-md-0">
                    <p class="mb-4">
                        Olmedos es una empresa Familiar que se dedica a la fabricación, venta y
                        reparación de parlantes de alta potencia.
                    </p>
                    <p class="mb-4">
                        Contamos con 40 años de experiencia LEEA.
                    </p>
                    <p class="mb-4">
                        Nuestra oficina y taller estan ubicados en el barrio de Villa Pueyrredon, Capital Federal.
                    </p>
                    <p class="mb-4">
                        Conocenos un poco más y veras la diferencia.
                    </p>
                    <img src="images/olmedos-leea-40.jpg" class="img-fluid rounded" alt="Olmedos local Pueyrredon">
                </div>
            </div>
        </div>
    </div>
    <div class="my-5 text-center">
        <h2>Reparación de todas las marcas</h2>
        <div class="row justify-content-center g-3">
            <div class="col-6 col-md-4 col-xl-2">
                <img src="images/das-logo.jpg" class="img-fluid" alt="DAS Logo" style="height: 100px;">
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <img src="images/leea-logo.jpg" class="img-fluid" alt="Leea Logo" style="height: 100px;">
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <img src="images/ev-logo.jpg" class="img-fluid" alt="EV Logo" style="height: 100px;">
            </div>
            <div class="col-6 col-md-4 col-xl-2">
                <img src="images/jbl-logo.jpg" class="img-fluid" alt="JBL Logo" style="height: 100px;">
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <img src="images/peavey-logo.jpg" class="img-fluid" alt="Peavey Logo" style="height: 100px;">
            </div>
            <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                <img src="images/rcf-logo.jpg" class="img-fluid" alt="RCF Logo" style="height: 100px;">
            </div>
        </div>
    </div>
{% endblock %}
