{% extends 'base.html.twig' %}

{% block title %}Visite Olmedos y conozcanos en Persona{% endblock %}

{% block body %}
    <div id="contenido">
        <div id="apDiv1"><br/>
            <p class="text-center w-100 text-info mb-5">
                GRACIAS POR SU CONSULTA
            </p>
            <div id="problemas" class="text-danger mb-5">
                EN BREVE LE ESTAREMOS RESPONDIENDO
            </div>
            <p class="w-100 text-center mb-5">SALUDOS OLMEDOS</p>
            <button id="cerrar" class="btn btn-outline-secondary text-center mx-0 my-1"
                    onclick="cerrarMostrarErrores('#apDiv1');">
                Cerrar
            </button>
        </div>
        <div class="titulo">CONTACTENOS</div>

        <div class="mapa">
            <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://maps.google.com.ar/maps?oe=utf-8&amp;client=firefox-a&amp;channel=fflb&amp;q=Pedro+Moran+2990&amp;ie=UTF8&amp;hq=&amp;hnear=Pedro+Mor%C3%A1n+2990,+Agronom%C3%ADa,+Buenos+Aires&amp;gl=ar&amp;t=m&amp;ll=-34.593438,-58.497391&amp;spn=0.033915,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
            <br/><small><a
                        href="https://maps.google.com.ar/maps?oe=utf-8&amp;client=firefox-a&amp;channel=fflb&amp;q=Pedro+Moran+2990&amp;ie=UTF8&amp;hq=&amp;hnear=Pedro+Mor%C3%A1n+2990,+Agronom%C3%ADa,+Buenos+Aires&amp;gl=ar&amp;t=m&amp;ll=-34.593438,-58.497391&amp;spn=0.033915,0.054932&amp;z=14&amp;iwloc=A&amp;source=embed"
                        style="color:#0000FF;text-align:left">Ver mapa más grande</a></small></div>
        <div class="php">
            <div class="php">
                <form action="#" id="f1" method="POST" enctype="multipart/form-data">
                    Contactenos y le contestaremos a la brevedad
                    <br/>
                    <br/>
                    * Nombre: <br/>
                    <input type="text" name="nombre" id="1"/><br/><br/>
                    * Mail:<br/>
                    <input type="text" name="mail" id="2"/><br/><br/>
                    Telefono:<br/>
                    <input type="text" name="telefono" id="5"/><br/><br/>
                    * Asunto:<br/>
                    <input type="text" name="asunto" id="3"/><br/><br/>
                    * Comentario:<br/>
                    <textarea name="comentario" id="4" cols="30" rows="10"></textarea><br/>
                    * Estos campos tienen que ser completados
                    <br/>
                    <input type="button" value="Enviar" onclick="mandarComentario();"/>
                    <input type="reset" value="Limpiar" id="limpiar"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
