{% extends 'base.html.twig' %}

{% block title %}Contacte a Olmedos - Estamos Aquí para Ayudar{% endblock %}

{% block body %}
    <div class="container my-5">

        <!-- Mostrar mensajes flash -->
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ type == 'success' ? 'success' : 'danger' }} alert-dismissible fade show text-center"
                     role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endfor %}

        <!-- Título principal -->
        <div class="text-center mb-4">
            <h1 class="display-4 fw-bold text-primary">Contáctenos</h1>
            <p class="lead text-dark">Estamos aquí para ayudarle. Complete el formulario o visítenos en persona.</p>
        </div>

        <!-- Formulario y mapa -->
        <div class="row align-items-center">
            <!-- Formulario -->
            <div class="col-lg-6">
                <form action="{{ path('app_contacto_enviar') }}" method="POST" enctype="multipart/form-data"
                      class="p-4 border rounded shadow">
                    <p class="mb-4">Complete este formulario y nos pondremos en contacto con usted a la brevedad.</p>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">* Nombre</label>
                        <input type="text" class="form-control" id="nombre" name="nombre" required>
                    </div>
                    <div class="mb-3">
                        <label for="mail" class="form-label">* Correo electrónico</label>
                        <input type="email" class="form-control" id="mail" name="mail" required>
                    </div>
                    <div class="mb-3">
                        <label for="telefono" class="form-label">Teléfono</label>
                        <input type="text" class="form-control" id="telefono" name="telefono">
                    </div>
                    <div class="mb-3">
                        <label for="asunto" class="form-label">* Asunto</label>
                        <input type="text" class="form-control" id="asunto" name="asunto" required>
                    </div>
                    <div class="mb-3">
                        <label for="comentario" class="form-label">* Comentario</label>
                        <textarea class="form-control" id="comentario" name="comentario" rows="4" required></textarea>
                    </div>
                    <div class="text-muted mb-3">* Estos campos son obligatorios</div>
                    <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                        <button type="reset" class="btn btn-outline-secondary">Limpiar</button>
                    </div>
                </form>
            </div>

            <!-- Mapa -->
            <div class="col-lg-6 mt-5 mt-lg-0">
                <div class="map-container border rounded shadow">
                    <iframe
                            src="https://maps.google.com.ar/maps?oe=utf-8&amp;client=firefox-a&amp;channel=fflb&amp;q=Pedro+Moran+2990&amp;ie=UTF8&amp;hq=&amp;hnear=Pedro+Mor%C3%A1n+2990,+Agronom%C3%ADa,+Buenos+Aires&amp;gl=ar&amp;t=m&amp;ll=-34.593438,-58.497391&amp;spn=0.033915,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"
                            width="100%" height="100%" style="min-height: 500px; border:0" allowfullscreen=""
                            aria-hidden="false" tabindex="0">
                    </iframe>
                </div>
                <div class="text-center mt-2">
                    <a href="https://maps.google.com.ar/maps?oe=utf-8&amp;client=firefox-a&amp;channel=fflb&amp;q=Pedro+Moran+2990&amp;ie=UTF8&amp;hq=&amp;hnear=Pedro+Mor%C3%A1n+2990,+Agronom%C3%ADa,+Buenos+Aires&amp;gl=ar&amp;t=m&amp;ll=-34.593438,-58.497391&amp;spn=0.033915,0.054932&amp;z=14&amp;iwloc=A&amp;source=embed"
                       target="_blank" class="btn btn-link text-primary">Ver mapa más grande</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}