{% extends 'base.html.twig' %}

{% block title %}Reparaciones Olmedos Trabajo Artesanal{% endblock %}

{% block body %}
    <div id="contenido">
        <div class="titulo">REPARACIONES OLMEDOS</div>
        <div class="titulo-reparaciones">En Olmedos te mostramos con algunos ejemplos, cual es nuestra calidad de
            trabajo en la restauración y reparación de parlantes. Con la combinacion del trabajo artesanal y la
            tecnologia para obtener resultados de alta calidad.
        </div>
        <div class="titulo-reparaciones"><img src="images/reparacion-1221.jpg" width="920" height="80"
                                              alt="reparacion parlantes leea en olmedos"
                                              longdesc="olmedos te muestra como reparamos modelos leea argentina"/>
        </div>
        <div class="titulo-reparaciones"><img src="images/antes-leea-1221.jpg" width="460" height="400"
                                              alt="parlantes leea 1221 olmedos parlantes"
                                              longdesc="olmedos te muestra el antes y el despues en la reparacion de parlantes leea 1221"/><img
                    src="images/despues-leea-1221-olmedo.jpg" width="460" height="400"
                    alt="olmedos reparacion parlantes reparacion leea 1221 "
                    longdesc="reparacion de parlantes leea 1221 a traves de olmedos"/></div>
        <div class="titulo-reparaciones"><img src="images/reparacion-15300.jpg" width="920" height="80"
                                              alt="olmedos reparacion parlante leea modelo 15 - 300"
                                              longdesc="olmedos te muestra reparacion de parlante marca leea modelo 15 300"/>
        </div>
        <div class="titulo-reparaciones"><img src="images/antes-leea-15300.jpg" width="460" height="400"
                                              alt="modelo 15-300 arca leea antes del arreglo de olmedos parlantes"
                                              longdesc="parlante marca leea roto antes de arreglar por olmedos"/><img
                    src="images/despues-leea-15300-olmedos.jpg" width="460" height="400"
                    alt="reparacion de parlante marca leea por olmedos"
                    longdesc="olmedos te muestra reparacion de parlante leea"/></div>
        <div class="titulo-reparaciones"><img src="images/reparacion-ev-15l.jpg" width="920" height="80"
                                              alt="reparacion parlate de olmedos marca ev modelo 15 l"
                                              longdesc="olmedos te muestra la reparacion del modelo 15 l de la marca ev"/>
        </div>
        <div class="titulo-reparaciones"><img src="images/antes-ev-15l.jpg" width="460" height="400"
                                              alt="parlante ev roto modelo 15l antes de ser entregado a olmedos"
                                              longdesc="parlante ev 15 l olmedos el antes"/><img
                    src="images/despues-ev-15l-olmedos.jpg" width="460" height="400"
                    alt="parlante reparado por olmedos marca ev modelo 15l"
                    longdesc="olmedos te muestra la reparacion de la marca ev modelo 15l"/>
            <div class="titulo-reparaciones"><br/>
                Trae tus Parlantes a OLMEDOS y comproba vos mismo los resultados.<br/>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}
