{% extends 'base.html.twig' %}

{% block title %}Reparaciones de Parlantes - Trabajo Artesanal en Olmedos{% endblock %}

{% block body %}
    <div class="container my-5">
        <!-- Título principal -->
        <div class="text-center mb-5">
            <h1 class="display-4 fw-bold text-primary">Reparaciones Olmedos</h1>
            <p class="lead text-secondary fw-semibold mb-0" style="text-align: center;">
                En Olmedos unimos artesanía y tecnología para lograr alta calidad
            </p>
            <p class="text-dark mt-5">
                Aquí te mostramos ejemplos de nuestra experiencia en la restauración de parlantes.
            </p>
        </div>

        <!-- Grid de carruseles -->
        <div class="row g-4 justify-content-center">
            {% set reparaciones = [
                {
                    'titulo': 'Parlantes Leea 1221',
                    'descripcion': 'Restauración completa del modelo Leea 1221.',
                    'antes': 'images/antes-leea-1221.jpg',
                    'despues': 'images/despues-leea-1221-olmedo.jpg'
                },
                {
                    'titulo': 'Parlantes Leea 15-300',
                    'descripcion': 'Reparación del modelo Leea 15-300.',
                    'antes': 'images/antes-leea-15300.jpg',
                    'despues': 'images/despues-leea-15300-olmedos.jpg'
                },
                {
                    'titulo': 'Parlantes EV 15L',
                    'descripcion': 'Restauración del modelo EV 15L.',
                    'antes': 'images/antes-ev-15l.jpg',
                    'despues': 'images/despues-ev-15l-olmedos.jpg'
                }
            ] %}

            {% for reparacion in reparaciones %}
                <div class="col-xxl-4 col-lg-6 d-flex">
                    <div class="card shadow-sm mx-auto w-100">
                        <!-- Título de cada reparación -->
                        <div class="card-body text-center">
                            <h5 class="fw-bold">{{ reparacion.titulo }}</h5>
                            <p class="text-muted">{{ reparacion.descripcion }}</p>
                        </div>

                        <!-- Carrusel -->
                        <div id="carousel-{{ loop.index }}" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ reparacion.antes }}" class="d-block w-100 rounded"
                                         alt="Antes de la reparación de {{ reparacion.titulo }}">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h6>Antes</h6>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ reparacion.despues }}" class="d-block w-100 rounded"
                                         alt="Después de la reparación de {{ reparacion.titulo }}">
                                    <div class="carousel-caption d-none d-md-block">
                                        <h6>Después</h6>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carousel-{{ loop.index }}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Anterior</span>
                            </button>
                            <button class="carousel-control-next" type="button"
                                    data-bs-target="#carousel-{{ loop.index }}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Siguiente</span>
                            </button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Invitación final -->
        <div class="text-center mt-5">
            <p class="fw-bold text-muted fs-4">
                Trae tus parlantes a <span class="text-dark">Olmedos</span> y comprueba por ti mismo los resultados.
            </p>
        </div>
    </div>
{% endblock %}