{% extends 'base.html.twig' %}

{% block title %}Envio de recuperación de contraseña{% endblock %}

{% block body %}
    <div class="px-4 py-5 my-5 col-10 col-md-8 col-xxl-6 m-auto">
        <img class="d-block mx-auto mb-4" src="{{ asset('images/foto.jpeg') }}" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold text-center">Envio de recuperación de contraseña</h1>
        <p>
            Si existe una cuenta que coincide con tu dirección de correo electrónico ingresado, se envio un mensaje que
            contiene un enlace que puedes utilizar para restablecer tu contraseña. Este enlace caducará en
            {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        </p>
        <p>
            Si no recibe un correo electrónico, compruebe su carpeta de spam o
            <a href="{{ path('app_forgot_password_request') }}">
                pruebe de nuevo
            </a>.
        </p>
    </div>
{% endblock %}
