{% extends 'base.html.twig' %}

{% block title %}Recuperación de la contraseña{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <div class="px-4 py-5 my-5 col-10 col-md-8 col-xxl-6 m-auto">
        <img class="d-block mx-auto mb-4" src="{{ asset('images/foto.jpeg') }}" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold text-center">Recuperación de la contraseña</h1>
        {{ form_start(form, {'attr': {'class': 'row g-3','id':'form_recuperar_correo'}}) }}
        <div class="text-left mt-5">
            <label for="bet_extra_user_detail" class="form-label ms-2">
                {{ form_label(form.email) }}
            </label>
            {{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder':'Ingresar correo electrónico...'}}) }}
            <div id="detailHelp" class="form-text ms-2">
                {{ form_help(form.email) }}
            </div>
            <div class="form-error text-danger">
                {{ form_errors(form.email) }}
            </div>
        </div>
        <div class="py-4 row justify-content-end">
            <div class="col-7 col-md-5 col-xl-4">
                <button type="submit" class="btn btn-primary btn-lg">Enviar correo</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
