{% extends 'base.html.twig' %}

{% block title %}Resetear la contraseña{% endblock %}

{% block body %}
    <div class="px-4 py-5 my-5 col-10 col-md-8 col-xxl-6 m-auto">
        <img class="d-block mx-auto mb-4" src="{{ asset('images/foto.jpeg') }}" alt="" width="72" height="57">
        <h1 class="display-5 fw-bold text-center">Resetear la contraseña</h1>
        {{ form_start(form, {'attr': {'class': 'row g-3','id':'form_recuperar_correo'}}) }}
        <div class="text-left mt-5">
            <label for="registration_form_plainPassword" class="form-label">
                Contraseña nueva
            </label>
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control','placeholder': 'Ingrese su nueva contraseña...'}}) }}
            <div id="passwordHelp" class="form-text">
                La contraseña tiene que tener entre 6 y 30 caracteres
            </div>
            <div class="form-error text-danger">
                {{ form_errors(form.plainPassword.first) }}
            </div>
        </div>
        <div class="text-left mt-5">
            <label for="registration_form_plainPassword" class="form-label">
                Repita la contraseña
            </label>
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control','placeholder': 'Repita la contraseña...'}}) }}
            <div id="passwordHelp" class="form-text">
                Escriba la misma contraseña de antes
            </div>
            <div class="form-error text-danger">
                {{ form_errors(form.plainPassword.second) }}
            </div>
        </div>
        <div class="py-4 row justify-content-end">
            <div class="col-7 col-md-5 col-xl-4">
                <button type="submit" class="btn btn-primary btn-lg">Guardar nueva contraseña</button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
