{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Pedido del {{ pedido.fechaAt|date('d/m/Y') }}{% endblock %}
{% block page_actions %}
    {{ include('admin/page_actions_edit_lista.html.twig',{controlador: 'PedidoCrudController',id: pedido.id, habilitar: not pedido.seEntrego}) }}
{% endblock %}
{% block main %}
    <dl class="row">
        <dt class="col-4 col-md-3 col-lg-2">
            Identificador
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ pedido.id }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Cliente
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ pedido.persona }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Entregado
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ pedido.seEntrego ? 'Si' : 'No' }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Moneda Usada
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ pedido.monto.moneda.nombre }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Importe pagado
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ principalService.formatearNumero(pedido.monto.importe, false, pedido.monto.moneda.signo) }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Tipo de cambio usado
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ principalService.formatearNumero(pedido.monto.tipoCambio, false, '$') }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Observaciones
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ pedido.nota }}
        </dd>
        <dd class="col-8 col-md-9 col-lg-10">
            <h4 class="mt-3 text-info">
                Detalle del pedido
            </h4>
        </dd>
    </dl>
    <table class="table table-borderless">
        <thead>
        <tr class="text-success border-bottom border-light">
            <th scope="col">Descripción</th>
            <th scope="col">Precio por unidad</th>
            <th scope="col">Observación</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody>
        {% for detalle in pedido.detallePedidos %}
            <tr class="text-light">
                <th scope="row" class="text-left ps-3">{{ detalle.cantidad }} - {{ detalle.producto }}</th>
                <td>{{ principalService.formatearMontoDeLosDetalles(detalle.precio, pedido.monto) }}</td>
                <td class="text-left ps-3">{{ detalle.nota }}</td>
                <td>{{ principalService.formatearMontoDeLosDetalles(detalle.total, pedido.monto) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">No hay detalles cargados</td>
            </tr>
        {% endfor %}
        {% set suma = 0 %}
        {% for transaccion in transacciones %}
            {% set suma = suma + principalService.devolverImporteInt(transaccion.monto) %}
            <tr class="text-light">
                <th scope="row" class="text-left ps-3">{{ transaccion.tipoStr }}</th>
                <td>{{ transaccion.dateCreatedAt|date('d/m/Y') }}</td>
                <td class="text-left ps-3"></td>
                <td>{{ principalService.formatearMonto(transaccion.monto) }}</td>
            </tr>
        {% endfor %}
        {% if not pedido.detallePedidos is empty or suma > 0 %}
            <tr class="text-info">
                <td colspan="3" class="text-right">Total:</td>
                <td class="border-top border-light">{{ principalService.formatearMontoDeLosDetalles(pedido.total + suma, pedido.monto) }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}