body {
    background-attachment: fixed;
    background-repeat: repeat;
    background-color: #CCC;
    text-align: center;
    margin: auto;
    padding-top: 75px;
}

#pie {
    background-color: #999;
    height: auto;
    width: 920px;
    margin-right: 0px;
    margin-left: 0px;
    float: none;
}

.datospie {
    float: left;
    height: auto;
    width: 300px;
    clear: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 0.7em;
    padding-top: 15px;
}


#general {
    text-align: center;
    margin: auto;
    float: none;
    height: auto;
    width: 920px;
    background-attachment: fixed;
    background-repeat: repeat-x;
}

#menu {
    height: 40px;
    width: 920px;
    float: left;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    background-attachment: fixed;
    background-repeat: repeat;
    background-color: #000;
}

#banner {
    height: 250px;
    width: 920px;
    text-align: center;
    padding: 0px;
    float: none;
}

#contenido {
    background-attachment: fixed;
    background-image: url(/images/fondotransparente.png);
    background-repeat: repeat;
    float: left;
    height: auto;
    width: 920px;
    margin-right: 0px;
    margin-left: 0px;
}

.mapa {
    height: 600px;
    width: 650px;
    margin-top: 30px;
    float: left;
}

.titulo-reparaciones {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.1em;
    float: left;
    height: auto;
    width: 920px;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}

p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.1em;
    font-style: normal;
    line-height: normal;
    text-align: justify;
    margin-right: 0.3em;
    margin-left: 0.3em;
}

h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #FFF;
    background-position: center;
}

.logos {
    background-color: #FFF;
    height: 100px;
    width: 920px;
    margin-top: 10px;
    margin-right: 0px;
    float: left;
    text-align: center;
    margin-bottom: 10px;
}

.titulo {
    background-color: #000;
    height: 45px;
    width: 920px;
    margin-top: 10px;
    margin-right: 0px;
    float: left;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.8em;
    color: #FFF;
    padding-top: 5px;
}

.imagen {
    float: left;
    height: 430px;
    width: 400px;
    margin-top: 30px;
    margin-bottom: 0px;
}

.imagen-quienessomos {
    height: 400px;
    width: 920px;
    float: left;
    margin-left: 0px;
    margin-bottom: 10px;
}

.inicio-texto {
    float: left;
    height: auto;
    width: 400px;
    margin-top: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: justify;
    margin-left: 60px;
}

.menu-parlantes {
    height: 80px;
    width: 800px;
    float: left;
    text-align: center;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 10px;
    margin-right: 0px;
    margin-left: 0px;
    background-attachment: fixed;
    background-repeat: repeat;
    background-color: #000;
}

.titulo-galeria {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.1em;
    float: left;
    height: auto;
    width: 800px;
    margin-top: 10px;
    margin-left: 0px;
    background-color: #000;
}

.php {
    height: auto;
    width: 270px;
    float: left;
    margin-left: 0px;
    padding: 0px;
    margin-top: 15px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 0.9em;
    text-align: center;
}

#problemas {
    margin-bottom: -30px;
}

#apDiv1 {
    position: absolute;
    width: 818px;
    height: 411px;
    margin-top: 140px;
    margin-left: 55px;
    background-image: url(/images/fondo3.jpg);
    background-position: center;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    color: #FFF;
    z-index: 50;
    display: none;
}

#cerrar {
    /*height: 43px;
    width: 150px;*/
    border: 3px white solid;
    background-color: transparent;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
    /*padding-top: 7px;
    margin-top: 50px;
    margin-left: 334px;*/
}

#cerrar:hover {
    background-color: silver;
    color: black;
    cursor: pointer;
}

@media (max-width: 991.98px) {
    /* Aplica el estilo en pantallas menores a lg */
    #navbarNav {
        position: absolute;
        top: 100%; /* Justo debajo de la barra de navegación */
        left: 0;
        width: 250px; /* Define un ancho específico para el menú */
        background: #343a40; /* Fondo oscuro para que se vea flotante */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 0 0 8px 8px;
        padding: 1rem;
        z-index: 1050; /* Asegura que esté sobre otros elementos */
    }

    #navbarNav.collapse.show {
        display: block; /* Asegura que se muestre cuando está expandido */
    }

    .navbar-nav {
        flex-direction: column; /* Alinea los enlaces verticalmente */
    }

    .nav-item {
        margin-bottom: 10px; /* Espaciado entre los enlaces */
    }
}

.social-icons {
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre íconos */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    padding: 10px;
    border-radius: 0 8px 8px 0; /* Bordes redondeados solo en la derecha */
    z-index: 999;
}

.social-icons .icon-link {
    font-size: 1.5rem; /* Tamaño del ícono */
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease; /* Animación suave */
    z-index: 999;
}

.social-icons .icon-link:hover {
    color: #007bff; /* Cambiar color al pasar el mouse */
    transform: scale(1.2); /* Aumentar tamaño al pasar el mouse */
    z-index: 999;
}

.accordion-header {
    background-color: #343a40; /* Gris oscuro */
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: #495057; /* Gris intermedio */
    color: white;
}

.accordion-button {
    background-color: #6c757d; /* Gris medio */
    color: white;
    border: none;
    font-size: 1.25rem; /* Tamaño de fuente más grande */
    font-weight: bold; /* Hacer el texto más llamativo */
}

.accordion-body {
    background-color: #212529; /* Fondo negro */
    color: #adb5bd; /* Texto gris claro */
    border: 1px solid #343a40;
}

.accordion-item {
    z-index: 10; /* Un valor menor que la barra */
}