{% extends 'base.html.twig' %}

{% block title %}Parlantes Olmedos calidad y variedad{% endblock %}

{% block body %}
    <div id="contenido">
        <div class="titulo-reparaciones">
            <h1 class="titulo">OLMEDOS PARLANTES DE ALTA CALIDAD</h1>
        </div>
        <div class="titulo-reparaciones"><strong>ALTOPARLANTES SERIE PROFESIONAL - ESPECIFICACIONES TECNICAS<br/>
                <br/>
                Campana de Fundición de Aluminio<br/>
            </strong><br/>
        </div>
        <div class="titulo-reparaciones"><img src="images/parlantes-olmedo-producto-titulos.jpg" width="920"
                                              height="120" alt="parlantes olmedo detalle "/></div>
        <div class="titulo-reparaciones"></div>
        <div class="titulo-reparaciones"><img src="images/parlantes-olmedo-producto-18bf600.jpg"
                                              alt="parlantes olmedo 18bf600" name="parlante" width="920" height="120"
                                              border="0" id="parlante"
                                              longdesc="olmedos todo en parlantes de alta potencia"/></div>
        <div class="titulo-reparaciones"><img src="images/parlantes-olmedo-producto-18bf400.jpg"
                                              alt="parlantes olmedos 18bf400" name="parlante18" width="920" height="120"
                                              border="0" id="parlante18" longdesc="olmedos parlantes de alta potencia"/>
            <div class="titulo-reparaciones"><img src="images/parlantes-olmedo-producto-15bf600.jpg"
                                                  alt="parlantes olmedo 15 bf 600" width="920" height="120" border="0"
                                                  longdesc="olmedos todo en parlantes de alta potencia"/></div>
            <div class="titulo-reparaciones"><img src="images/parlantes-olmedo-producto-15l400.jpg"
                                                  alt="parlantes olmedo 15l400" width="920" height="120" border="0"/>
                <div class="titulo-reparaciones"><img src="images/parlantes-olmedo-producto-15be150.jpg"
                                                      alt="parlantes olmedos 15 be 150" width="920" height="120"
                                                      border="0" longdesc="olmedos parlantes alta potencia"/>
                    <div class="titulo-reparaciones"><img src="images/parlantes-olmedo-producto-12bf300.jpg"
                                                          alt="olmedos parlantes 15 bf 300" width="920" height="120"
                                                          border="0" longdesc="parlantes alta potencia olmedos"/>
                        <div class="titulo-reparaciones"><img src="images/parlantes-olmedo-producto-12be150.jpg"
                                                              alt="olmedos parlantes 12 be 150" width="920" height="120"
                                                              border="0" longdesc="olmedos parlantes alta potencia "/>
                            <div class="titulo-reparaciones">
                                <button type="button" class="btn btn-dark p-0 m-0" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                    <img src="images/parlantes-olmedo-producto-detalle.jpg" class="m-0 p-0"
                                         alt="parlantes olmedos alta potencia" width="920" height="60" border="0"
                                         longdesc="olmedos todo en parlantes de alta potencia"/>
                                </button>
                            </div>
                            <div class="modal fade" id="exampleModal" tabindex="-1"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header bg-dark">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">
                                                Galeria de parlantes
                                            </h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body bg-secondary">
                                            <div id="carouselExampleAutoplaying" class="carousel slide"
                                                 data-bs-ride="carousel">
                                                <div class="carousel-inner">
                                                    <div class="carousel-item active">
                                                        <img src="{{ asset('images/parlante-12-150w-olmedos.jpg') }}"
                                                             class="d-block w-100" alt="..."/>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="{{ asset('images/parlante-12-300w-olmedos.jpg') }}"
                                                             class="d-block w-100" alt="..."/>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="{{ asset('images/parlante-15-150w-olmedos.jpg') }}"
                                                             class="d-block w-100" alt="..."/>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="{{ asset('images/parlante-15-400w-olmedos.jpg') }}"
                                                             class="d-block w-100" alt="..."/>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="{{ asset('images/parlante-15-600w-olmedos.jpg') }}"
                                                             class="d-block w-100" alt="..."/>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="{{ asset('images/parlante-18-400w-olmedos.jpg') }}"
                                                             class="d-block w-100" alt="..."/>
                                                    </div>
                                                    <div class="carousel-item">
                                                        <img src="{{ asset('images/parlante-18-600w-olmedos.jpg') }}"
                                                             class="d-block w-100" alt="..."/>
                                                    </div>
                                                </div>
                                                <button class="carousel-control-prev" type="button"
                                                        data-bs-target="#carouselExampleAutoplaying"
                                                        data-bs-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button"
                                                        data-bs-target="#carouselExampleAutoplaying"
                                                        data-bs-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                    <span class="visually-hidden">Next</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="titulo-reparaciones">
            <div class="titulo-reparaciones"><br/>
                Consultenos por otras medidas de Parlantes<br/>
                <br/>
            </div>
        </div>
    </div>
{% endblock %}

{# <a href="javascript:;"
   onclick="MM_openBrWindow('templates/parlantes-galeria-parlantes-olmedos.html','parlantesolmedos','width=800,height=650')"><img
            src="images/parlantes-olmedo-producto-detalle.jpg"
            alt="parlantes olmedos alta potencia" width="920" height="60" border="0"
            longdesc="olmedos todo en parlantes de alta potencia"/></a> #}
