{% extends 'base.html.twig' %}

{% block title %}Parlantes Olmedos - Calidad y Variedad{% endblock %}

{% block body %}
    <div class="container my-5">
        <!-- Títulos -->
        <div class="text-center mb-5">
            <!-- Título principal -->
            <h1 class="display-4 text-primary fw-bold">PARLANTES DE ALTA CALIDAD</h1>
            <!-- Subtítulo -->
            <p class="lead text-secondary fw-semibold mb-0" style="text-align: center;">
                Altoparlantes Serie Profesional - Especificaciones Técnicas
            </p>
            <p class="text-dark mt-5">
                Los parlantes mostrados a continuación están diseñados con campanas de fundición de aluminio. También
                disponemos de campanas de chapa y estamos a su disposición para consultas sobre otros modelos
                personalizados.
            </p>
        </div>
        <!-- Tabla de productos -->
        <div class="row g-4">
            <div class="accordion border border-dark border-5 rounded p-0" id="productsAccordion">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading1">
                        <button class="accordion-button collapsed d-flex align-items-center" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                            <!-- Imagen a la izquierda -->
                            <img src="images/FotoProducto.jpg"
                                 class="me-2 border border-dark border-3 rounded me-3"
                                 style="width: 40px; height: auto;">
                            Parlante 18BF600 <span class="ms-3 text-muted">+info</span>
                        </button>
                    </h2>
                    <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1"
                         data-bs-parent="#productsAccordion">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Tipo:</strong> Woofer de respuesta extendida<br>
                                    <strong>Diametro:</strong> 18" Pulgadas<br>
                                    <strong>Potencia:</strong> 600 Watts<br>
                                    <strong>Rango de frecuencia:</strong> 28-2000 Hertzios<br>
                                    <strong>Frecuencia de resonancia:</strong> 37 Hertzios<br>
                                </div>
                                <div class="col-md-6">
                                    <strong>Impedancia:</strong> 8Ohms<br>
                                    <strong>Diametro de bobina:</strong> 3" Pulgadas<br>
                                    <strong>SPL:</strong> 99 dB/w/m<br>
                                    <strong>Peso:</strong> 13,5 Kilogramos<br>
                                    <strong>Profundidad:</strong> 188 milimetros<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading2">
                        <button class="accordion-button collapsed d-flex align-items-center" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                            <!-- Imagen a la izquierda -->
                            <img src="images/FotoProducto.jpg" alt="detalle"
                                 class="me-2 border border-dark border-3 rounded me-3"
                                 style="width: 40px; height: auto;">
                            Parlante 18BF400 <span class="ms-3 text-muted">+info</span>
                        </button>
                    </h2>
                    <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2"
                         data-bs-parent="#productsAccordion">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Tipo:</strong> Woofer de respuesta extendida<br>
                                    <strong>Diametro:</strong> 18" Pulgadas<br>
                                    <strong>Potencia:</strong> 400 Watts<br>
                                    <strong>Rango de frecuencia:</strong> 35-4000 Hertzios<br>
                                    <strong>Frecuencia de resonancia:</strong> 38 Hertzios<br>
                                </div>
                                <div class="col-md-6">
                                    <strong>Impedancia:</strong> 8 Ohms<br>
                                    <strong>Diametro de bobina:</strong>
                                    2<sup>1</sup>/<sub>2</sub>" Pulgadas<br>
                                    <strong>SPL:</strong> 101 dB/w/m<br>
                                    <strong>Peso:</strong> 13,4 Kilogramos<br>
                                    <strong>Profundidad:</strong> 186 milimetros<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading3">
                        <button class="accordion-button collapsed d-flex align-items-center" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                            <!-- Imagen a la izquierda -->
                            <img src="images/FotoProducto.jpg" alt="detalle"
                                 class="me-2 border border-dark border-3 rounded me-3"
                                 style="width: 40px; height: auto;">
                            Parlante 15BF600 <span class="ms-3 text-muted">+info</span>
                        </button>
                    </h2>
                    <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
                         data-bs-parent="#productsAccordion">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Tipo:</strong> Woofer de respuesta extendida<br>
                                    <strong>Diametro:</strong> 15" Pulgadas<br>
                                    <strong>Potencia:</strong> 600 Watts<br>
                                    <strong>Rango de frecuencia:</strong> 30-2000 Hertzios<br>
                                    <strong>Frecuencia de resonancia:</strong> 36 Hertzios<br>
                                </div>
                                <div class="col-md-6">
                                    <strong>Impedancia:</strong> 8 Ohms<br>
                                    <strong>Diametro de bobina:</strong> 3" Pulgadas<br>
                                    <strong>SPL:</strong> 97 dB/w/m<br>
                                    <strong>Peso:</strong> 11 Kilogramos<br>
                                    <strong>Profundidad:</strong> 167 milimetros<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading4">
                        <button class="accordion-button collapsed d-flex align-items-center" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                            <!-- Imagen a la izquierda -->
                            <img src="images/FotoProducto.jpg" alt="detalle"
                                 class="me-2 border border-dark border-3 rounded me-3"
                                 style="width: 40px; height: auto;">
                            Parlante 15BF400 <span class="ms-3 text-muted">+info</span>
                        </button>
                    </h2>
                    <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
                         data-bs-parent="#productsAccordion">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Tipo:</strong> Woofer de respuesta extendida<br>
                                    <strong>Diametro:</strong> 15" Pulgadas<br>
                                    <strong>Potencia:</strong> 400 Watts<br>
                                    <strong>Rango de frecuencia:</strong> 50-5000 Hertzios<br>
                                    <strong>Frecuencia de resonancia:</strong> 40 Hertzios<br>
                                </div>
                                <div class="col-md-6">
                                    <strong>Impedancia:</strong> 8 Ohms<br>
                                    <strong>Diametro de bobina:</strong>
                                    2<sup>1</sup>/<sub>2</sub>" Pulgadas<br>
                                    <strong>SPL:</strong> 102 dB/w/m<br>
                                    <strong>Peso:</strong> 11,9 Kilogramos<br>
                                    <strong>Profundidad:</strong> 165 milimetros<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading5">
                        <button class="accordion-button collapsed d-flex align-items-center" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                            <!-- Imagen a la izquierda -->
                            <img src="images/FotoProducto.jpg" alt="detalle"
                                 class="me-2 border border-dark border-3 rounded me-3"
                                 style="width: 40px; height: auto;">
                            Parlante 15BF150 <span class="ms-3 text-muted">+info</span>
                        </button>
                    </h2>
                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                         data-bs-parent="#productsAccordion">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Tipo:</strong> Woofer de respuesta extendida<br>
                                    <strong>Diametro:</strong> 15" Pulgadas<br>
                                    <strong>Potencia:</strong> 150 Watts<br>
                                    <strong>Rango de frecuencia:</strong> 45-5000 Hertzios<br>
                                    <strong>Frecuencia de resonancia:</strong> 35 Hertzios<br>
                                </div>
                                <div class="col-md-6">
                                    <strong>Impedancia:</strong> 8 Ohms<br>
                                    <strong>Diametro de bobina:</strong> 2" Pulgadas<br>
                                    <strong>SPL:</strong> 102 dB/w/m<br>
                                    <strong>Peso:</strong> 5,6 Kilogramos<br>
                                    <strong>Profundidad:</strong> 153 milimetros<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading6">
                        <button class="accordion-button collapsed d-flex align-items-center" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                            <!-- Imagen a la izquierda -->
                            <img src="images/FotoProducto.jpg" alt="detalle"
                                 class="me-2 border border-dark border-3 rounded me-3"
                                 style="width: 40px; height: auto;">
                            Parlante 12BF300 <span class="ms-3 text-muted">+info</span>
                        </button>
                    </h2>
                    <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
                         data-bs-parent="#productsAccordion">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Tipo:</strong> Woofer de respuesta extendida<br>
                                    <strong>Diametro:</strong> 12" Pulgadas<br>
                                    <strong>Potencia:</strong> 300 Watts<br>
                                    <strong>Rango de frecuencia:</strong> 60-6000 Hertzios<br>
                                    <strong>Frecuencia de resonancia:</strong> 47 Hertzios<br>
                                </div>
                                <div class="col-md-6">
                                    <strong>Impedancia:</strong> 8 Ohms<br>
                                    <strong>Diametro de bobina:</strong>
                                    2<sup>1</sup>/<sub>2</sub>" Pulgadas<br>
                                    <strong>SPL:</strong> 101 dB/w/m<br>
                                    <strong>Peso:</strong> 10,9 Kilogramos<br>
                                    <strong>Profundidad:</strong> 135 milimetros<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading7">
                        <button class="accordion-button collapsed d-flex align-items-center" type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                            <!-- Imagen a la izquierda -->
                            <img src="images/FotoProducto.jpg" alt="detalle"
                                 class="me-2 border border-dark border-3 rounded me-3"
                                 style="width: 40px; height: auto;">
                            Parlante 12BF150 <span class="ms-3 text-muted">+info</span>
                        </button>
                    </h2>
                    <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
                         data-bs-parent="#productsAccordion">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong>Tipo:</strong> Woofer de respuesta extendida<br>
                                    <strong>Diametro:</strong> 12" Pulgadas<br>
                                    <strong>Potencia:</strong> 150 Watts<br>
                                    <strong>Rango de frecuencia:</strong> 50-5500 Hertzios<br>
                                    <strong>Frecuencia de resonancia:</strong> 40 Hertzios<br>
                                </div>
                                <div class="col-md-6">
                                    <strong>Impedancia:</strong> 8 Ohms<br>
                                    <strong>Diametro de bobina:</strong> 2" Pulgadas<br>
                                    <strong>SPL:</strong> 100 dB/w/m<br>
                                    <strong>Peso:</strong> 5,05 Kilogramos<br>
                                    <strong>Profundidad:</strong> 131 milimetros<br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col">
                <ul class="list-unstyled">
                    <li class="d-flex align-items-center">
                        <i class="fa fa-dot-circle-o text-dark me-2"></i>
                        Potencia EIA (normas RS-426A)
                    </li>
                    <li class="d-flex align-items-center">
                        <i class="fa fa-dot-circle-o text-dark me-2"></i>
                        SPL en dB/1w/1m (ruido rosado filtrado)
                    </li>
                    <li class="d-flex align-items-center">
                        <i class="fa fa-dot-circle-o text-dark me-2"></i>
                        Consúltenos por otras medidas de parlantes
                    </li>
                </ul>
            </div>
        </div>

        <!-- Galería -->
        <div class="text-center mt-5">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#galleryModal">
                Ver galería de parlantes
            </button>
        </div>

        <!-- Modal con carrusel -->
        <div class="modal fade" id="galleryModal" tabindex="-1" aria-labelledby="galleryModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-dark text-white">
                        <h5 class="modal-title" id="galleryModalLabel">Galería de Parlantes</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body bg-secondary">
                        <div id="carouselGallery" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ asset('images/parlante-12-150w-olmedos.jpg') }}" class="d-block w-100"
                                         alt="Parlante 12-150W">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ asset('images/parlante-12-300w-olmedos.jpg') }}" class="d-block w-100"
                                         alt="Parlante 12-300W">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ asset('images/parlante-15-150w-olmedos.jpg') }}" class="d-block w-100"
                                         alt="Parlante 15-150W">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ asset('images/parlante-15-400w-olmedos.jpg') }}" class="d-block w-100"
                                         alt="Parlante 15-400W">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ asset('images/parlante-15-600w-olmedos.jpg') }}" class="d-block w-100"
                                         alt="Parlante 15-600W">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ asset('images/parlante-18-400w-olmedos.jpg') }}" class="d-block w-100"
                                         alt="Parlante 18-400W">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ asset('images/parlante-18-600w-olmedos.jpg') }}" class="d-block w-100"
                                         alt="Parlante 18-600W">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselGallery"
                                    data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselGallery"
                                    data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}