{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Movimientos de caja{% endblock %}
{% block page_actions %}
{% endblock %}
{% block main %}
    <div class="container mt-5">
        <form id="miFormulario" action="{{ ea_url().setRoute('app_admin_caja') }}" method="post">
            <div class="row mb-4 mx-auto">
                <div class="col">
                    <label>
                        Fecha desde
                        <input type="datetime-local" id="fechadesde" name="fechadesde" value="{{ fechadesde }}"/>
                        <p class="text-danger my-1 ms-2 d-none" id="pFechaDesde">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </p>
                    </label>
                </div>
                <div class="col">
                    <label>
                        Fecha hasta
                        <input type="datetime-local" id="fechahasta" name="fechahasta" value="{{ fechahasta }}"/>
                        <p class="text-danger my-1 ms-2 d-none" id="pFechaHasta">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </p>
                    </label>
                </div>
                <div class="col mt-3 mt-xxl-1">
                    <a href="#" class="btn btn-primary mt-2 mt-xl-0" id="aplicarFiltro">
                        Aplicar filtro
                    </a>
                    <input type="hidden" name="txtOrdenCaja" id="txtOrdenCaja" value="{{ orden }}"/>
                    <button type="submit" class="d-none" id="aplicarFiltrosubmit">
                    </button>
                </div>
                <div class="col mt-3 mt-xxl-1">
                    <i class="fa fa-sort-amount-asc ordenBtn {{ orden == 'asc' ? 'text-info' : 'text-secondary' }}"
                       aria-hidden="true" title="Ordenar en forma Ascendente" id="btnOrdenAscCaja"></i>
                    <i class="fa fa-sort-amount-desc ms-3 ordenBtn {{ orden == 'desc' ? 'text-info' : 'text-secondary' }}"
                       aria-hidden="true" title="Ordenar en forma descendente" id="btnOrdenDescCaja"></i>
                </div>
            </div>
        </form>
        <button type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#exampleModal" id="btnPrueba">
            Launch demo modal
        </button>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Advertencia</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="txtErrorFechasModal"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <table class="table table-striped text-center">
            <thead>
            <tr class="text-light">
                <th scope="col">Fecha</th>
                <th scope="col">Detalle</th>
                <th scope="col">Entrada</th>
                <th scope="col">Salida</th>
                <th scope="col">Saldo</th>
            </tr>
            </thead>
            <tbody>
            {% set suma = total %}
            {% for caja in cajas %}
                <tr>
                    <td>{{ caja.fecha|date('d-m-Y') }}</td>
                    <td class="text-info">{{ caja.persona }} - {{ caja.tipo }}</td>
                    <td class="text-light">
                        {{ caja.entrada == '------' ? caja.entrada : principalService.formatearMonto(caja.entrada) }}
                    </td>
                    <td class="text-danger">
                        {{ caja.salida == '------' ? caja.salida : principalService.formatearMonto(caja.salida) }}
                    </td>
                    {% if orden == 'asc' %}
                        {% set suma = suma + principalService.devolverImporteInt(caja.saldo) %}
                    {% endif %}
                    <td class="text-success">{{ principalService.formatearNumero(suma, true) }}</td>
                    {% if orden == 'desc' %}
                        {% set suma = suma + principalService.devolverImporteInt(caja.saldo) * (-1) %}
                    {% endif %}
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">No hay movimientos de caja generados</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
