{% if habilitarEntregar %}
    <a class="btn btn-primary" href="{{ ea_url().setRoute('app_entrega_entregar', { id: idParam }) }}">
        <i class="fa fa-undo" aria-hidden="true"></i>
        Entregar
    </a>
{% endif %}
{% if habilitarCobrar %}
    <a class="btn btn-primary" href="{{ ea_url().setRoute('app_entrega_cobrar', { id: idParam }) }}">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Cobrar
    </a>
{% endif %}