{% set urlLista = ea_url()
    .setController('App\\Controller\\Admin\\' ~ controlador)
    .setAction('index') %}
<a class="btn btn-primary" href="{{ urlLista }}">
    <i class="fa fa-undo" aria-hidden="true"></i>
    Volver a la lista
</a>
{% if habilitar %}
    {% set urlEditar = ea_url()
        .setController('App\\Controller\\Admin\\' ~ controlador)
        .setAction('edit')
        .setEntityId(id) %}
    <a class="btn btn-primary" href="{{ urlEditar }}">
        <i class="fa fa-pencil" aria-hidden="true"></i>
        Editar
    </a>
{% endif %}