{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Compra del {{ compra.fecha|date('d/m/Y') }}{% endblock %}
{% block page_actions %}
    {{ include('admin/page_actions_edit_lista.html.twig',{controlador: 'CompraCrudController',id: compra.id, habilitar: true}) }}
{% endblock %}
{% block main %}
    <dl class="row">
        <dt class="col-4 col-md-3 col-lg-2">
            Identificador
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ compra.id }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Proveedor
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ compra.proveedor }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Moneda Usada
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ compra.monto.moneda.nombre }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Importe pagado
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ principalService.formatearNumero(compra.monto.importe,false,compra.monto.moneda.signo) }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Tipo de cambio usado
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ principalService.formatearNumero(compra.monto.tipoCambio, false ,'$') }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Observaciones
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ compra.nota }}
        </dd>
        <dd class="col-8 col-md-9 col-lg-10">
            <h4 class="mt-2">
                Detalle
            </h4>
        </dd>
    </dl>
    <table class="table table-borderless">
        <thead>
        <tr class="text-success border-bottom border-light">
            <th scope="col">Descripción</th>
            <th scope="col">Precio por unidad</th>
            <th scope="col">Total</th>
        </tr>
        </thead>
        <tbody class="">
        {% for detalle in compra.detalleCompras %}
            <tr class="text-light">
                <th scope="row" class="text-left ps-3">{{ detalle.cantidad }} - {{ detalle.materiaPrima.detalle }}</th>
                <td>{{ principalService.formatearMontoDeLosDetalles(detalle.precio, compra.monto) }}</td>
                <td>{{ principalService.formatearMontoDeLosDetalles(detalle.total, compra.monto) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay detalles cargados</td>
            </tr>
        {% endfor %}
        {% if not compra.detalleCompras is empty %}

            <tr class="text-info">
                <td colspan="2" class="text-right">Total:</td>
                <td class="border-top border-light">{{ principalService.formatearMontoDeLosDetalles(compra.totalEnNumero, compra.monto) }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
