{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">

        <label>
            <input type="checkbox" name="_remember_me" checked>
            Keep me logged in
        </label>

        <input type="hidden" name="app_home" value="/account">

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit">login</button>
        <a href="{{ path('app_forgot_password_request') }}" class="d-inline">
            {{ 'Click here'|trans }}
        </a>
    </form>
{% endblock %}
