{% extends 'base.html.twig' %}

{% block title %}Conozca mas de Olmedos Todo en Parlantes{% endblock %}

{% block body %}
    <div id="contenido">
        <div class="titulo">OLMEDOS</div>
        <h1><br/>
            <br/>
        </h1>
        <p><strong>Olmedos</strong> es una empresa Argentina que surgió en el año 1998, su fundador Roberto Olmedo
            cuenta con 50 años de experiencia en el rubro del audio, sus comienzos se realizaron en
            <strong>LEEA</strong> (Laboratorio Electrónico Electro Acústica) obteniendo la base y el conocimiento de la
            empresa mas importante de Sudamérica.
            <br/><br/>
            Nuestra misión en el mercado es brindar un producto de calidad y asesorar a nuestros clientes para que
            encuentren un producto de acuerdo a su necesidad.
            <br/><br/>
            Tenemos la responsabilidad de mantener la mejor calidad en la fabricación y reparación de cada parlante como
            en nuestras bobinas de alto rendimiento únicas en su elaboración, permitiendo dar potencias mas altas con un
            mayor rendimiento.</p>
    </div>
    <div class="imagen-quienessomos"><img src="images/quienes-somos.jpg" width="920" height="400"
                                          alt="maquinarias fabricacion parlantes olmedos"/></div>
{% endblock %}
