{% extends 'base.html.twig' %}

{% block title %}Conozca más de Olmedos - Todo en Parlantes{% endblock %}

{% block body %}
    <div class="container my-5">
        <!-- Título -->
        <div class="text-center mb-4">
            <h1 class="display-4 text-primary">Sobre Nosotros</h1>
            <p class="lead text-secondary fw-semibold mb-0" style="text-align: center;">
                Conoce nuestra historia y compromiso con la excelencia en el audio
            </p>
        </div>

        <!-- Contenido Principal -->
        <div class="row align-items-center">
            <!-- Texto -->
            <div class="col-md-6">
                <p><strong>Olmedos</strong> es una empresa Argentina que surgió en el año 1998. Su fundador, Roberto
                    Olmedo, cuenta con 50 años de experiencia en el rubro del audio. Sus comienzos se remontan a
                    <strong>LEEA</strong> (Laboratorio Electrónico Electro Acústica), la empresa más importante de
                    Sudamérica, donde adquirió la base y el conocimiento que cimentaron su trayectoria.</p>
                <p>Nuestra misión en el mercado es brindar productos de alta calidad y asesorar a nuestros clientes para
                    que encuentren la solución perfecta para sus necesidades de audio.</p>
                <p>Nos destacamos por la fabricación y reparación de parlantes, así como en la creación de bobinas de
                    alto rendimiento, únicas en su elaboración. Estas permiten alcanzar potencias más altas con un mayor
                    rendimiento, garantizando la mejor calidad.</p>
            </div>

            <!-- Imagen -->
            <div class="col-md-6 text-center">
                <img src="images/quienes-somos.jpg" alt="Fabricación de parlantes Olmedos"
                     class="img-fluid rounded shadow">
            </div>
        </div>

        <!-- Valores y Misión -->
        <div class="mt-5">
            <h2 class="text-center text-secondary mb-4">Nuestros Valores</h2>
            <div class="row text-center">
                <div class="col-md-4">
                    <i class="fas fa-tools fa-3x text-primary mb-3"></i>
                    <h5>Calidad</h5>
                    <p>Nos esforzamos por ofrecer los mejores productos en el mercado de audio.</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-user-check fa-3x text-success mb-3"></i>
                    <h5>Compromiso</h5>
                    <p>Asesoramos a nuestros clientes para encontrar soluciones personalizadas.</p>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-lightbulb fa-3x text-warning mb-3"></i>
                    <h5>Innovación</h5>
                    <p>Desarrollamos productos únicos con las últimas tecnologías.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
