{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Venta del {{ venta.fechaVenta|date('d/m/Y') }}{% endblock %}
{% block page_actions %}
    {{ include('admin/page_actions_edit_lista.html.twig',{controlador: 'VentaCrudController',id: venta.id, habilitar: false}) }}
{% endblock %}
{% block main %}
    <dl class="row">
        <dt class="col-4 col-md-3 col-lg-2">
            Identificador
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ venta.id }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Cliente
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ venta.cliente }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Importe de la Venta
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ service.formatearNumero(MontoVenta, false) }}
        </dd>
        <dt class="col-4 col-md-3 col-lg-2">
            Importe Pagado
        </dt>
        <dd class="col-8 col-md-9 col-lg-10">
            {{ service.formatearMonto(venta.monto) }}
        </dd>
        <dd class="col-8 col-md-9 col-lg-10">
            <h4 class="mt-3 text-info">
                Detalle para el cobro
            </h4>
        </dd>
    </dl>
    <table class="table table-borderless">
        <thead>
        <tr class="text-success border-bottom border-light">
            <th scope="col">Descripción</th>
            <th scope="col">Fecha</th>
            <th scope="col">Importe</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-light">
            <th scope="row" class="text-left ps-3">
                Entrega
            </th>
            <td>
                {{ venta.entrega.fechaEntrega|date('d/m/Y') }}
            </td>
            <td>
                {{ service.formatearMonto(venta.entrega.monto) }}
            </td>
        </tr>
        {% for transaccion in venta.transacciones %}
            <tr class="text-light">
                <th scope="row" class="text-left ps-3">
                    {{ transaccion.tipoStr }}
                </th>
                <td>
                    {{ transaccion.dateCreatedAt|date('d/m/Y') }}
                </td>
                <td>
                    {{ service.formatearMonto(transaccion.monto) }}
                </td>
            </tr>
        {% endfor %}
        <tr class="text-light">
            <td colspan="2" class="text-right">
                Total de la venta:
            </td>
            <td class="">
                {{ service.formatearNumero(MontoVenta, false) }}
            </td>
        </tr>
        <tr class="text-light">
            <td colspan="2" class="text-right">
                Lo que se pago:
            </td>
            <td class="">
                {{ service.formatearMonto(venta.monto) }}
            </td>
        </tr>
        <tr class="text-info">
            {% if venta.monto.importe == MontoVenta %}
                <td colspan="2" class="text-right">
                    La cuenta esta saldada
                </td>
                <td class="border-top border-light">
                    $0,00
                </td>
            {% elseif venta.monto.importe < MontoVenta %}
                <td colspan="2" class="text-right">
                    Deuda a favor nuestro:
                </td>
                <td class="border-top border-light">
                    {{ service.formatearNumero(MontoVenta - venta.monto.importe, false) }}
                </td>
            {% else %}
                <td colspan="2" class="text-right">
                    Deuda a favor del cliente:
                </td>
                <td class="border-top border-light">
                    {{ service.formatearNumero(venta.monto.importe - MontoVenta, true) }}
                </td>
            {% endif %}
        </tr>
        </tbody>
    </table>
{% endblock %}