<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Olmedos{% endblock %}</title>
    {# <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> #}
    <link rel="icon" sizes="4x4" href="images/Icono_navegador.png"
          type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="{{ asset('css/estilosindex.css') }}" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img src="images/Logo Olmedos.png" alt="Olmedos" height="50">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto d-lg-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_home') }}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_nosotros') }}">Nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_productos') }}">Productos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_reparacion') }}">Reparación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_contacto') }}">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main class="container my-5">
    {% block body %}{% endblock %}
</main>
<div class="social-icons">
    <a href="https://www.facebook.com/olmedosARG?fref=ts" target="_blank" class="icon-link">
        <i class="fa fa-facebook-official text-primary" aria-hidden="true" title="Ir a facebook"></i>
    </a>
    <a href="https://www.instagram.com/sonidolmedos/" target="_blank" class="icon-link">
        <i class="fa fa-instagram text-danger" title="Ir a Instagram"></i>
    </a>
    <a href="{{ path('app_contacto') }}" class="icon-link">
        <i class="fas fa-envelope text-body" title="Ir a contacto"></i>
    </a>
</div>
<footer class="bg-dark text-white text-center py-4">
    <div class="container">
        <p class="mb-1"><strong>Dirección:</strong> Pedro Moran 2990, Capital Federal, Buenos Aires</p>
        <p class="mb-1"><strong>Teléfono:</strong> 011 4574-4737</p>
        <p class="mb-1"><strong>Mail:</strong> ventas.olym@gmail.com</p>
        <p class="mb-1"><strong>Horarios:</strong> Lunes a Viernes: 9:00-13:00 hs / 15:00-18:00 hs | Sábados: 9:00-13:00
            hs</p>
        <p class="mb-0">Copyright © Todos los derechos reservados.</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/bc0b5e88ab.js" crossorigin="anonymous"></script>
</body>
</html>
