<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="{{ asset('css/estilosindex.css') }}" rel="stylesheet" type="text/css"/>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="mb-3"
      onload="MM_preloadImages('images/contacto2-menu.png','images/inicio2-menu.png','images/nosotros2-menu.png','images/productos2-menu.png','images/reparacion-menu.png')">
<div id="general">
    <div id="banner"><img src="images/index-banner-olmedos.png" width="920" height="250" border="0" usemap="#Map"/>
        <map name="Map" id="Map">
            <area shape="rect" coords="9,46,73,116" href="{{ path('app_home') }}" target="_self" alt="ir a olmedos"/>
            <area shape="rect" coords="75,37,134,96" href="{{ path('app_contacto') }}" target="_self"
                  alt="ir a contacto"/>
            <area shape="rect" coords="781,39,845,99" href="https://www.facebook.com/olmedosARG?fref=ts"
                  target="_blank"
                  alt="ir a face"/>
            <area shape="rect" coords="847,46,907,116"
                  href="https://es.linkedin.com/?trk=guest_homepage-basic_nav-header-logo" target="_blank"
                  alt="ir a LinkedIn"/>
        </map>
    </div>
    <div id="menu">
        <a href="{{ path('app_home') }}" onmouseout="MM_swapImgRestore()"
           onmouseover="MM_swapImage('inicio','','images/inicio2-menu.png',1)"><img src="images/inicio2-menu.png"
                                                                                    alt="ir a inicio" name="inicio"
                                                                                    width="182" height="39"
                                                                                    border="0"
                                                                                    id="inicio"/></a><a
                href="{{ path('app_nosotros') }}" onmouseout="MM_swapImgRestore()"
                onmouseover="MM_swapImage('nosotros','','images/nosotros2-menu.png',1)"><img
                    src="images/nosotros-menu.png"
                    alt="ir a nosotros"
                    name="nosotros" width="182"
                    height="39" border="0"
                    id="nosotros"/></a><a
                href="{{ path('app_productos') }}" onmouseout="MM_swapImgRestore()"
                onmouseover="MM_swapImage('Imagen14','','images/productos2-menu.png',1)"><img
                    src="images/productos-menu.png" name="Imagen14" width="182" height="39" border="0"
                    id="Imagen14"/></a><a
                href="{{ path('app_reparacion') }}" onmouseout="MM_swapImgRestore()"
                onmouseover="MM_swapImage('reparacion','','images/reparacion-menu.png',1)"><img
                    src="images/reparacion2-menu.png" name="reparacion" width="182" height="39" border="0"
                    id="reparacion"/></a><a
                href="{{ path('app_contacto') }}" onmouseout="MM_swapImgRestore()"
                onmouseover="MM_swapImage('Imagen15','','images/contacto2-menu.png',1)"><img
                    src="images/contacto-menu.png"
                    alt="ir a contacto"
                    name="Imagen15" width="182"
                    height="39" border="0"
                    id="Imagen15"/></a>
        <div class="menuCopia"></div>
    </div>
    <div class="menuCopia"></div>
    {% block body %}{% endblock %}
    <div id="pie">
        <div class="datospie"><strong>Dirección:</strong><br/>
            Pedro Moran 2990<br/>
            Capital Federal, Buenos Aires
        </div>
        <div class="datospie"><strong>Teléfono:</strong> 011 4574-4737<br/>
            <strong>Mail:</strong> ventas.olym@gmail.com
        </div>
        <div class="datospie"><strong>Horarios:</strong><br/>
            Lunes a Viernes: 9:00 - 13:00hs / 14:30 - 18:00hs<br/>
            Sábados: 9:00 - 13 hs
        </div>
        <br/> <br/> <br/>
        <strong>Copyright © Todos los derechos reservados.</strong></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/bc0b5e88ab.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="{{ asset('js/base.js') }}"></script>
<script type="text/javascript">
    const myModal = document.getElementById('myModal')
    const myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', () => {
        myInput.focus()
    })
</script>
</body>
</html>
