{{ form_start(form) }}
<div class="mb-3 row ms-2">
    <div class="col-sm-6 mx-auto mb-sm-2">
        <label for="bet_name" class="form-label">
            Fecha de cobro
        </label>
        {{ form_widget(form.fechaVenta, {'attr': {'class': 'form-control text-dark bg-success'}}) }}
        <div id="nameHelp" class="form-text">
            Debe ingresar la fecha del cobro de la entrega
        </div>
    </div>
    <div class="col-sm-6 mx-auto mb-sm-2">
        <label for="bet_name" class="form-label">
            Importe
        </label>
        {{ form_widget(form.importe, {'attr': {'class': 'form-control text-dark'}}) }}
        <div id="nameHelp" class="form-text">
            Debe ingresar el importe del cobro de la entrega
        </div>
        <div class="form-error text-danger">
            {{ form_errors(form.importe) }}
        </div>
    </div>
    <div class="col-sm-6 mx-auto">
        <label for="bet_name" class="form-label">
            Moneda
        </label>
        {{ form_widget(form.moneda, {'attr': {'class': 'form-control text-dark'}}) }}
        <div id="nameHelp" class="form-text">
            Debe elegir la moneda en que se cobro
        </div>
        <div class="form-error text-danger">
            {{ form_errors(form.moneda) }}
        </div>
    </div>
    <div class="col-sm-6">
        <button type="submit" class="btn btn-primary mt-4">
            Cobrar
        </button>
    </div>
</div>
{{ form_end(form) }}