{{ form_start(form) }}
<div class="mb-3 row">
    <div class="col-6 col-sm-5 col-md-4 col-lg-3 ">
        <label for="bet_name" class="form-label">
            Fecha
        </label>
        {{ form_widget(form.fechaEntrega, {'attr': {'class': 'form-control text-dark bg-success'}}) }}
        <div id="nameHelp" class="form-text">
            Debe ingresar la fecha de la entrega
        </div>
    </div>
    <div class="col-2 col-sm-2 col-lg-1">
        <button type="submit" class="btn btn-primary mt-4">
            Entregar
        </button>
    </div>
</div>
{{ form_end(form) }}