<h4 class="mt-2 text-center">Clasificaciones de los productos</h4>
<table class="table text-center">
    <thead>
    <tr class="text-success">
        <th scope="col">Clasificación</th>
        <th scope="col">Producto</th>
        <th scope="col">precio</th>
    </tr>
    </thead>
    <tbody class="text-light">
    {% for precioClasificacion in listaDePrecios.obtenerPreciosDeLasClasificacionesOrdenadas %}
        {% for producto in precioClasificacion.clasificacionDeBobinas.obtenerProductosOrdenados %}
            <tr>
                <td class="text-left">{{ precioClasificacion.clasificacionDeBobinas.nombre }}</td>
                <td>{{ producto }}</td>
                <td class="w-25 text-center">{{ principalService.formatearMonto(precioClasificacion.monto) }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="3">No hay clasificaciones de bobinas generadas</td>
        </tr>
    {% endfor %}
    </tbody>
</table>