<h4 class="mt-2 text-center">Clasificaciones de los productos</h4>
<table class="table text-center">
    <thead>
    <tr class="text-success">
        <th scope="col">Producto</th>
        <th scope="col">precio</th>
    </tr>
    </thead>
    <tbody class="text-light">
    {% for precioProductosSinClasificar in listaDePrecios.obtenerPreciosDeLosProductosSinClasificarOrdenadas %}
        <tr>
            <td class="text-left">{{ precioProductosSinClasificar.producto }}</td>
            <td class="w-25 text-center">{{ principalService.formatearMonto(precioProductosSinClasificar.monto) }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">No hay productos generados</td>
        </tr>
    {% endfor %}
    </tbody>
</table>