<form id="miFormulario" action="{{ ea_url().setRoute('app_pago_ver_sueldo') }}" method="post">
    <div class="row gx-1">
        <div class="col-md-6 col-xl-3">
            <label id="lblPersona" class="text-light mx-0 mb-2">Elegir persona</label>
            <select class="form-select form-select-sm text-black" aria-label="lblPersona" id="cmbPersona"
                    name="cmbPersona">
                <option selected>Seleccione...</option>
                <option value="1">Leo</option>
                <option value="2">Mariano</option>
            </select>
        </div>
        <div class="col-md-6 col-xl-3 mt-3">
            <label class="me-2">
                Elegir periodo
            </label>
            <input type="datetime-local" id="txtPeriodo" name="txtPeriodo"/>
            <div id="pointsPerMissedGameHelp" class="form-text text-success">
                Elegir un dia del mes que se quiere investigar
            </div>
        </div>
        <div class="col-6 col-xl-3 mt-3 mt-md-5 mt-lg-3">
            <label class="me-2">
                Sueldo
            </label>
            <input type="number" id="txtSueldo" name="txtSueldo" value="0" class="text-center"/>
            <div id="pointsPerMissedGameHelp" class="form-text text-success">
                Poner el sueldo al que deberia llegar
            </div>
        </div>
        <div class="col-6 col-xl-3 d-flex align-items-center">
            <input type="submit" id="cmbEnviar" name="cmbEnviar" value="Aplicar" class="btn btn-primary"/>
        </div>
    </div>
</form>