<form id="formVerPago" action="{{ ea_url().setRoute('app_pago_ver_sueldo') }}"
      method="post">
    <input type="hidden" id="cmbPersona" name="cmbPersona" value="asasas"/>
    <input type="hidden" id="txtPeriodo" name="txtPeriodo" value="asasas"/>
    <input type="submit" id="cmbEnviar" name="cmbEnviar" value="Aplicar" class="btn btn-primary d-none"/>
</form>