{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Ver sueldos{% endblock %}
{% block page_actions %}
    {{ include('admin/page_actions_edit_lista.html.twig',{controlador: 'PagoCrudController',id: 0, habilitar: false}) }}
{% endblock %}
{% block main %}
    <div class="container-xl">
        <div class="container text-center">
            {{ include('admin/pago/_formBusqueda.html.twig') }}
            {{ include('admin/pago/_formVer.html.twig') }}
        </div>
        <div class="row mt-5">
            <div class="col-10 col-lg-6 mx-auto border border-2 border-light rounded">
                <table class="table table-borderless caption-top">
                    <caption>Lista de pagos</caption>
                    <thead>
                    <tr class="text-info">
                        <th scope="col">Fecha</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Importe</th>
                        <th scope="col">Ver</th>
                    </tr>
                    </thead>
                    <tbody class="text-light">
                    {% for pago in pagos %}
                        <tr>
                            <td>{{ pago.periodo|date('m/y') }}</td>
                            <td>Leo</td>
                            <td>{{ principalService.formatearNumero(pago.leo * (-1), true) }}</td>
                            <td>
                                <i class="fa fa-eye cmbVerPago" aria-hidden="true"
                                   data-periodo="{{ pago.periodo }}" data-sujeto="1"></i>
                            </td>
                        </tr>
                        <tr class="border-bottom border-light">
                            <td>{{ pago.periodo|date('m/y') }}</td>
                            <td>Mariano</td>
                            <td>{{ principalService.formatearNumero(pago.mariano, true) }}</td>
                            <td>
                                <i class="fa fa-eye cmbVerPago" aria-hidden="true"
                                   data-periodo="{{ pago.periodo }}" data-sujeto="2"></i>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">No hay pagos cargados</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
