{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Ver sueldos{% endblock %}
{% block page_actions %}
    {{ include('admin/page_actions_edit_lista.html.twig',{controlador: 'PagoCrudController',id: 0, habilitar: false}) }}
{% endblock %}
{% block main %}
    <div class="container-xl">
        <div class="container text-center">
            {{ include('admin/pago/_formBusqueda.html.twig') }}
        </div>
        <div class="row mt-5">
            <div class="col-10 col-lg-6 mx-auto border border-2 border-light rounded">
                <table class="table table-borderless caption-top">
                    <caption>Lista de pagos</caption>
                    <thead>
                    <tr class="text-info">
                        <th scope="col">Fecha</th>
                        <th scope="col">Detalle</th>
                        <th scope="col">Importe</th>
                    </tr>
                    </thead>
                    <tbody class="text-light">
                    {% set suma = 0 %}
                    {% for pago in pagos %}
                        <tr>
                            <td>{{ pago.periodo|date('m/y') }}</td>
                            <td>{{ pago.sujetoStr }}</td>
                            {% set importe = principalService.devolverImporteInt(pago.monto) * (-1) %}
                            {% set suma = suma + importe %}
                            <td>{{ principalService.formatearNumero(importe, true) }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="3">No hay pagos cargados</td>
                        </tr>
                    {% endfor %}
                    {% if suma > 0 %}
                        <tr>
                            <td colspan="2" class="text-right">Total:</td>
                            <td class="text-success">{{ principalService.formatearNumero(suma, true) }}</td>
                        </tr>
                        {% if sueldo > 0 %}
                            <tr>
                                <td colspan="2" class="text-right">Sueldo:</td>
                                <td>{{ principalService.formatearNumero(sueldo, true) }}</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="text-right">Falta pagar:</td>
                                <td class="text-danger">{{ principalService.formatearNumero(sueldo - suma, true) }}</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
